<div class="modal-window">
  <div class="book-image">
    <img class="img-book-cover" src="" alt="" />
  </div>
  <div>
    <h2 class="book-title"></h2>
    <p class="book-author"></p>
    <p class="book-descr"></p>
    <ul>
      <li>
        <a href="">
          <img src="../images/book-popup/amazon.svg" alt="" />
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <button class="add-to-list"></button>
</div>
