<!-- <p class="category-list-sec">category-list-sec</p> -->

<div class="main-categories-box">
  <ul class="main-categories-list">
    <li class="main-categories-list-item main-categories-list-item-active">
      All categories
    </li>
    <li class="main-categories-list-item">Hardcover Fiction</li>
    <li class="main-categories-list-item">Childrens Middle Grade Hardcover</li>
    <li class="main-categories-list-item">Audio Nonfiction</li>
    <li class="main-categories-list-item">Advice How-To and Miscellaneous</li>
    <li class="main-categories-list-item">Picture Books</li>
    <li class="main-categories-list-item">
      Combined Print and E-Book Nonfiction
    </li>
    <li class="main-categories-list-item">Combined Print and E-Book Fiction</li>
    <li class="main-categories-list-item">Audio Fiction</li>
    <li class="main-categories-list-item">Hardcover Nonfiction</li>
    <li class="main-categories-list-item">Trade Fiction Paperback</li>
    <li class="main-categories-list-item">Graphic Books and Manga</li>
    <li class="main-categories-list-item">Young Adult Hardcover</li>
    <li class="main-categories-list-item">Mass Market Monthly</li>
    <li class="main-categories-list-item">Business Books</li>
    <li class="main-categories-list-item">Paperback Nonfiction</li>
    <li class="main-categories-list-item">Series Books</li>
    <li class="main-categories-list-item">Middle Grade Paperback Monthly</li>
    <li class="main-categories-list-item">Young Adult Paperback Monthly</li>
  </ul>
</div>
