<header>
  <nav class="header-nav">
    <a class="header-logo link" href="">
      <svg class="header-logo-img">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <svg class="header-logo-text">
        <use href="./images/icons.svg#icon-bookshelf"></use>
      </svg>

    </a>

    <ul class="header-menu-list list">
      <li>
        <button class="header-menu-home header-menu-btn" type="button">Home</button>
      </li>
      <li>
        <button class="header-menu-shoppinglist header-menu-btn" type="button">
          Shoping list
          <svg class="header-menu-shoppinglist-icon">
            <use href="/image/icons.svg#icon-trash"></use>
          </svg>

        </button>
      </li>
    </ul>
  </nav>

  <div class="header-buttons">
    <button class="header-switcher" type="button">

    </button>
    <button class="menu-auth" type=" button">
      <img class="menu-auth-logo" src="./images/user-logo.png" alt="" />
      <span class="menu-username">Stephen</span>
      <img class="header-user-icon-down" src="./images/svg/fi-ss-caret-down.svg" alt="" />
    </button>
    <a class="header-modal-mobile-link link" href="">
      <svg class="header-modal-mobile">
        <use href="./images/icons.svg#icon-align-left"></use>
      </svg>
    </a>
  </div>
</header>h