<header>
  <div class="menu-box">
    <div class="menu-logo"><a href="src/index.html">
        <svg class="" width="24" height="24">
          <use href=""></use>
        </svg>
        <img src="" alt="logo">
      </a>
    </div>
    <ul class="menu-nav">
      <li class="nav-item"><a href="src/index.html">Home</a></li>
      <li class="nav-item"><a href="src/shopping-list.html">Shopping list</a></li>
    </ul>
    <div class="menu-toggler">togg</div>
    <button type="button" class="menu-auth" id="open-authCard">Sign in</button>
  </div>
</header>