<header>
  <div class="nav-container">
    <a class="header-logo" href="index.html">
      <svg class="header-logo-icon">
        <use href="/images/header/header-defs.svg#icon-logo-1"></use>
      </svg>
      <svg class="header-logo-title">
        <use href="/images/header/header-defs.svg#icon-Bookshelf-1"></use>
      </svg>
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="index.html">Home</a>
      </li>
      <li class="nav-item auth-link visually-hidden">
        <a href="shopping-list.html">
          Shoping list
        </a>
        <svg class="nav-shoppinglist-icon">
          <use href="/images/header/header-defs.svg#icon-uil_cart"></use>
        </svg>
      </li>
    </ul>
    <div class="btn">
      <div class="btn__indicator">
        <div class="btn__icon-container">
          <i class="btn__icon fa-solid"></i>
        </div>
      </div>
    </div>
    <button class="menu-auth" type="button">
      <img class="menu-auth-logo" src="/images/header/foto.png" alt="user logo" />
      <span class="menu-username">Sign up</span>
      <svg class="menu-auth-icon">
        <use class="menu-auth-icon" href="/images/header/header-defs.svg#icon-arrow-narrow-right-1"></use>
      </svg>
    </button>

    <button class="nav-mobile-menu">
      <svg class="burger" width="28" height="28">
        <use href="/images/header/header-defs.svg#icon-burger-1"></use>
      </svg>
    </button>
  </div>
</header>