<!-- <button id="open-mobile-menu" data-modal="1" type="button">Мобильное меню</button> -->
<!-- <div class="mobile-menu-container"></div> -->

<div class="js-mobile-menu visually-hidden" data-modal="1">
  <div class="mob-menu-container">
    <button class="mob-menu-auth mob-sign-up" type="button">
      <span class="mob-menu-user">Sign up</span>
      <svg class="mob-menu-auth-icon">
        <use
          href="/images/header/header-defs.svg#icon-arrow-narrow-right-1"
        ></use>
      </svg>
    </button>
    <button class="mob-menu-auth-signed mob-sign-in" type="button">
      <img
        class="mob-menu-auth-logo"
        src="/images/header/foto.png"
        alt="user logo"
      />
      <span class="mob-menu-username mob-user-signed"></span>
    </button>
    <ul class="mob-nav-menu">
      <li class="mob-nav-item">
        <a href="index.html">Home</a>
      </li>
      <li class="mob-nav-item mob-auth-link visually-hidden">
        <a href="shopping-list.html"> Shopping list </a>
        <svg class="nav-shoppinglist-icon">
          <use href="/images/header/header-defs.svg#icon-uil_cart"></use>
        </svg>
      </li>
    </ul>
    <button class="button-log-out" type="button">
      Log out<svg class="mob-log-out-icon">
        <use
          href="/images/header/header-defs.svg#icon-arrow-narrow-right-1"
        ></use>
      </svg>
    </button>
    <div class="wrap-image"></div>
  </div>
</div>
