
<!-- <button id="open-mobile-menu" data-modal="1" type="button">Мобильное меню</button> -->
<!-- <div class="mobile-menu-container"></div> -->
<div class="js-mobile-menu" data-modal="1">


  
  <button class="mob-menu-auth mob-sign-up" type="button">
    <span class="mob-menu-username">Sign up</span>
    <svg class="mob-menu-auth-icon">
      <use class="mob-menu-auth-icon" href="/images/header/header-defs.svg#icon-arrow-narrow-right-1"></use>
    </svg>
  </button>
  <button class="mob-menu-auth" type="button">
    <img src="" alt="">
  </button>


  <!-- <button class="mob-menu-auth sign-out visually-hidden" type="button">
    <img class="mob-menu-auth-logo" src="/images/header/foto.png" alt="user logo" />
    <span class="mob-menu-username mob-user-signed"></span>
    <svg class="mob-menu-auth-icon">
      <use class="mob-menu-auth-icon" href="/images/header/header-defs.svg#icon-fi-ss-caret-down-1"></use>
    </svg>
  </button> -->


  <div class="buttons">
    <button class="button-home button" type="button">Home</button>
    <button class="button-shopping-list button" type="button">
      Shopping list<svg class="mob-shoppinglist-icon">
        <use href="/images/header/header-defs.svg#icon-uil_cart"></use>
      </svg>
    </button>
    
    <!-- /images/header/header-defs.svg#icon-uil_cart -->
    <!-- /images/header/header-defs.svg#icon-arrow-narrow-right-1 -->
  </div>
<img class="bg-img-modal" src="./images/mobile-menu/img-mob-@1x.webp" alt="">
  <button class="button-log-out button" type="button">Log out<svg class="mob-log-out-icon">
    <use href="/images/header/header-defs.svg#icon-arrow-narrow-right-1"></use>
  </svg></button>
  <div class="modal"></div>

</div>
