<!-- <p class="shopping-list-sec">shopping-list-sec</p> -->
<section class="shopping-list-sec">
  <div class="shopping-container">
    <div class="shopping-list">
      <h1 class="shopping-title">Shopping <span class="accent">List</span></h1>
      <div class="list-items js-shopping-list">
        <div class="js-empty-page hidden">
          <p class="page-notification">
            This page is empty, add some books and proceed to order.
          </p>
          <picture class="notification-image">
            <source
              srcset="
                ./img/rent/modal_yaht_desk-tab_1x.png 1x,
                ./img/rent/modal_yaht_desk-tab_2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/rent/modal_yaht_mobile_1x.png 1x,
                ./img/rent/modal_yaht_mobile_2x.png 2x
              "
              media="(min-width: 375px)"
              type="image/png"
            />
            <img
              class="modal-yaht"
              src="./img/rent/modal_yaht_desk-tab_1x.png"
              alt="yaht"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
