<div class="shopping-container">
  <div class="shopping-list">
    <h1 class="shopping-title">Shopping <span class="accent">List</span></h1>
    <div class="list-items shopping-list-container">
      <ul
        class="js-shopping-list"
        data-current-page="1"
        aria-live="polite"
      ></ul>
      <div class="js-empty-page empty-page hidden">
        <p class="page-notification">
          This page is empty, add some books and proceed to order.
        </p>
        <picture>
          <source
            srcset="
              ./images/shopping-list-sec/empty_page_tablet_1x.webp 1x,
              ./images/shopping-list-sec/empty_page_tablet_2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/shopping-list-sec/empty_page_mobile_1x.webp 1x,
              ./images/shopping-list-sec/empty_page_mobile_2x.webp 2x
            "
            media="(min-width: 375px)"
            type="image/png"
          />
          <img
            class="notification-image"
            src="./images/shopping-list-sec/empty_page_tablet_1x.webp"
            alt="books"
          />
        </picture>
      </div>
    </div>
    <div class="pagination hidden">
      <nav class="pagination-container">
        <div class="nav-buttons">
          <button
            class="pagination-button"
            id="to-start-button"
            aria-label="Previous page"
            title="Previous page"
          >
            <svg class="to-start-svg arrow-svg start-1" width="22" height="22">
              <use href="/images/shopping-list-sec/sprite.svg#angle-left"></use>
            </svg>
            <svg class="to-start-svg arrow-svg start-2" width="22" height="22">
              <use href="/images/shopping-list-sec/sprite.svg#angle-left"></use>
            </svg>
          </button>
          <button
            class="pagination-button"
            id="prev-button"
            aria-label="Previous page"
            title="Previous page"
          >
            <svg class="prev-svg arrow-svg" width="22" height="22">
              <use href="/images/shopping-list-sec/sprite.svg#angle-left"></use>
            </svg>
          </button>
        </div>

        <div id="pagination-numbers"></div>
        <div class="nav-buttons">
          <button
            class="pagination-button"
            id="next-button"
            aria-label="Next page"
            title="Next page"
          >
            <svg class="next-svg arrow-svg" width="22" height="22">
              <use
                href="/images/shopping-list-sec/sprite.svg#angle-right"
              ></use>
            </svg>
          </button>
          <button
            class="pagination-button"
            id="to-end-button"
            aria-label="Next page"
            title="Next page"
          >
            <svg class="to-end-svg arrow-svg end-1" width="22" height="22">
              <use
                href="/images/shopping-list-sec/sprite.svg#angle-right"
              ></use>
            </svg>
            <svg class="to-end-svg arrow-svg end-2" width="22" height="22">
              <use
                href="/images/shopping-list-sec/sprite.svg#angle-right"
              ></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
