<main>
    <section class="main-box container">
        <div class="section-main">
            <div class="main-support-box">
                <div class="main-support-title-box">
                    <p class="main-support-title">Support Ukraine</p>
                    <svg class="main-support-title-icon">
                        <use href="./images/icons.svg#icon-emblem"></use>
                    </svg>
                </div>
                <div class="main-support-items-box">
                    <ul class="main-support-list list">
                        <li class="main-support-item">
                            <a href="https://www.savethechildren.org/" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">01</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_1.png"
                                        alt="Save the Children" loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://www.projecthope.org/" class="main-support-item-link link" target="_blank">
                                <p class="main-support-item-link-number">02</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_2.png"
                                        alt="Project HOPE" loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://u24.gov.ua/uk" class="main-support-item-link link" target="_blank">
                                <p class="main-support-item-link-number">03</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_3.png" alt="UNITED24"
                                        loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="" class="main-support-item-link link" target="_blank">
                                <p class="main-support-item-link-number">04</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_4.png"
                                        alt="International Medical Corps" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://internationalmedicalcorps.org/" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">05</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_5.png"
                                        alt="Medecins Sans Frontiers" loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://www.razomforukraine.org/ua/homeua/" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">06</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_6.png" alt="Razom"
                                        loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://www.actionagainsthunger.org/" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">07</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_7.png"
                                        alt="Action Against" loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://www.wvi.org/our-partners?gad=1" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">08</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_8.png"
                                        alt="World Vision" loading="lazy" />
                                </div>
                            </a>
                        </li>
                        <li class="main-support-item">
                            <a href="https://prytulafoundation.org/" class="main-support-item-link link"
                                target="_blank">
                                <p class="main-support-item-link-number">09</p>
                                <div class="main-support-item-link-img-box">
                                    <img class="main-support-item-link-img" src="./images/support_9.png"
                                        alt="Sergiy Prytula" loading="lazy" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="main-support-scroll" type="button">
                    <svg class="main-support-scroll-icon">
                        <use href="./images/icons.svg#icon-fi-rr-angle-small-left"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>
</main>