.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-modal-box);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--col-blue);
}

.auth-container {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 295px;
  background: var(--col-bg-light);
  padding: 40px 20px;
  border-radius: 18px;
  border: 2px solid var(--col-black);
  /* border: 2px solid var(--col-bg-light); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.auth-close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.auth-close-icon {
  stroke: var(--col-black);
}
.auth-close-icon:hover {
  stroke: var(--col-blue);
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.auth-logged-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.auth-field-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-input {
  width: 100%;
  padding: 16px 52px 16px 24px;
  align-items: center;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid var(--col-black);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  outline: transparent;
  color: var(--col-black);
}

.auth-input-icon {
  stroke: var(--col-black);
  fill: transparent;
  position: absolute;
  right: 24px;
  width: 18px;
  height: 18px;
}

.auth-sign {
  width: 100%;
  padding: 16px 0;
  border-radius: 40px;
  background: var(--col-black);
  text-align: center;
  color: var(--col-bg-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  margin-bottom: 14px;
  cursor: pointer;
}

.auth-toggler {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.auth-toggler {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.571%;
  letter-spacing: -0.14px;
  background: rgba(245, 245, 245, 0.5);

  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.auth-toggler-active {
  color: var(--col-blue);
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .auth-container {
    width: 579px;
    background: var(--col-bg-light);
    padding: 80px 40px 40px;
  }

  .auth-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .auth-form-container {
    gap: 28px;
    margin-bottom: 40px;
  }

  .auth-input-icon {
    stroke: var(--col-black);
    fill: transparent;
    position: absolute;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .auth-input {
    padding: 16px 62px 16px 24px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.18px;
  }

  .auth-sign {
    padding: 20px 0;
    border-radius: 40px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.18px;
  }

  .auth-toggler {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .auth-toggler {
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.18px;
  }
}
