.nav-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 18px 20px;
}

.header-logo {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: auto;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
}
.header-logo-title {
  width: 77px;
  height: 13px;
}
.nav-menu {
  display: none;
}

.nav-shoppinglist-icon {
  width: 20px;
  height: 20px;
}
.btn {
  margin-right: 14px;
}
.menu-auth {
  display: none;
  align-items: center;
  justify-content: center;
  background: #4f2ee8;
  border-radius: 36px;
  padding: 4px 12px;
}
.menu-auth-logo {
  width: 37px;
  height: 37px;
  margin-right: 9px;
}
.menu-username {
  margin-right: 4px;
}
.menu-auth-icon {
  width: 23px;
  height: 26px;
}
.nav-mobile-menu {
  display: flex;
  border: none;
}
.burger {
  stroke: #111111;
}

@media screen and (min-width: 768px) {
  .nav-container {
    max-width: 768px;
    padding: 22px 32px;
  }
  .header-logo {
    margin-right: 40px;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px 0;
    margin-right: auto;
  }
  .nav-item {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    border-radius: 36px;
  }

  .active-page {
    background: #eac645;
  }

  .btn {
    margin-right: 24px;
  }

  .nav-item {
    display: flex;
    padding: 7px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 36px;

    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.571%;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-shoppinglist-icon {
    width: 20px;
    height: 20px;
    fill: var(--text-color);
  }

  .menu-auth {
    width: 184px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: 1.5px solid #111111;
    padding: 4px 12px;
  }

  .menu-auth-logo {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 9px;
  }

  .menu-username {
    color: #ffffff;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;

    margin-right: 4px;
  }

  .menu-auth-icon {
    width: 20px;
    height: 20px;
  }

  .nav-mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: 1440px;
    padding: 14px 24px;
  }

  .header-logo {
    margin-right: 76px;
  }
}
