.mobile-menu {
  background-color: violet;
}
.js-mobile-menu {
  visibility: hidden;

  background-color: aliceblue;
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.user {
  margin-top: 20px;
  margin-bottom: 126px;
  margin-left: 20px;
}

.button {
  display: block;
}
.buttons {
  margin-bottom: 125px;
  margin-left: 129px;
}
.button-home {
  margin-bottom: 16px;
  width: 72px;
  height: 34px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border-radius: 36px;
  border: none;
  padding: 8px, 16px, 8px, 16px;
  background-color: #eac645;
}
.button-shopping-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
}
