*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}
