

/* MOBILE */



@media only screen and (min-width: 320px) {
   
  .selected-category-title{
    font-family: DMSans-Bold;
    font-size: 32px;   
    line-height: 1.13;
      /* 118.75% */
    letter-spacing: -1.28px;
    margin-bottom: 40px;
  }
  
  .selected-category-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 335px;
    cursor: pointer;
    /* overflow: hidden; */
  }
   
  .selected-category-book-img{
    width: 335px;
    height: 485px;
  }

  .selected-category-book-img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    object-fit: cover;
  }

  .selected-category-book-title{
    font-family: DMSans-Bold;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 4px;
    /* white-space: nowrap; */
    
  }

  .selected-category-book-author{
    color: #B4AFAF;
    font-family: DMSans-Regular;
    font-size: 12px;
    font-style: italic;
    line-height: 1.12;
      /* 116.667% */
    letter-spacing: -0.48px;
  }

 
}

@media only screen and (max-width: 374.98px) {

  .card-wrapper {
    width: 280px;
  }

  .selected-category-book-img {
    width: 100%;
    height: 450px;
  }
}

/*  TABLET */


@media only screen and (min-width: 768px) {

  .selected-category-title{
    font-size: 48px;
    line-height: 0.11;
      /* 108.333% */
    letter-spacing: -1.92px;
  }

  .selected-category-list{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 40px;
    column-gap: 25px;
  }

  .card-wrapper{
    width: 218px;
  }

  .selected-category-book-img{
    width: 218px;
    height: 316px;
  }

}


/* DESKTOP */

@media only screen and (min-width: 1440px) {

 .selected-category-list{
    column-gap: 24px;
 }

 .card-wrapper{
    width: 180px;
  }

  .selected-category-book-img{
    width: 180px;
    height: 256px;
   
  }
}


.second-half {
  color: #4F2EE8;
}


/**
  |============================
  | світла тема
  |============================
*/

.selected-category-title{
  color: #111;
}

.selected-category-book-title{
  color: #111;
}



/**
  |============================
  | темна тема
  |============================
*/


/* .selected-category-title{
  color: #FFF;
}

.selected-category-book-title{
  color: #FFF;
} */




