/* .shopping-list-sec {
   background-color: lightcoral; 
} */

.shopping-title {
  font-family: DMSans-Bold;
  margin-bottom: 40px;
}

@media screen and(min-width: 375px) {
  .shopping-title {
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: -1.28px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-title {
    font-size: 48px;
    line-height: 1.083;
    letter-spacing: -1.92px;
  }
}

.accent {
  color: var(--col-blue);
}

.shopping-book-card {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  height: auto;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  max-width: 335px;
  padding: 14px;
}

@media screen and (min-width: 768px) {
  .shopping-book-card {
    max-width: 704px;
    padding: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-book-card {
    max-width: 996px;
  }
}

.shopping-book-cover {
  width: 100px;
  height: 142px;
}
@media screen and (min-width: 768px) {
  .shopping-book-cover {
    width: 116px;
    height: 165px;
  }
}

.image-thumb {
  border-radius: 8px;
  overflow: hidden;
  max-width: 100px;
  max-height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .image-thumb {
    max-width: 116px;
    max-height: 165px;
  }
}

.shopping-book-title {
  position: absolute;
  font-family: DMSans-Bold;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  left: 128px;
}
@media screen and (max-width: 767px) {
  .shopping-book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 123px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-book-title {
    top: 24px;
    left: 164px;
  }
}

.shopping-book-category {
  position: absolute;
  color: var(--col-lt-gray);
  font-family: DMSans-Regular;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 767px) {
  .shopping-book-category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 128px;
    top: 36px;
    max-width: 144px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-book-category {
    top: 46px;
    left: 164px;
  }
}

.shopping-book-description {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: DMSans-Regular;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .shopping-book-description {
    max-width: 178px;
    max-height: 68px;
    left: 128px;
    top: 58px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-book-description {
    margin-bottom: 48px;
    max-width: 508px;
    left: 164px;
    top: 74px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-book-description {
    max-width: 808px;
  }
}

.shopping-book-author {
  position: absolute;
  color: var(--col-lt-gray);
  font-family: DMSans-Regular-Italic;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: -0.48px;
}
@media screen and (max-width: 767px) {
  .shopping-book-author {
    bottom: 14px;
    left: 128px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-book-author {
    bottom: 24px;
    left: 164px;
  }
}

.delete-btn {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  position: absolute;
  background-color: var(--col-blue);
  border: none;
  border-radius: 50%;
  padding: 6px;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .delete-btn {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    top: 24px;
    right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .delete-svg {
    width: 18px;
    height: 18px;
  }
}

.trade-fairs {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 14px;
  right: 14px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .trade-fairs {
    bottom: 24px;
    right: 24px;
    align-items: center;
    gap: 16px;
  }
}

.amazon-img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  width: 32px;
  height: 11px;
}
.amazon-img:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
@media screen and (min-width: 768px) {
  .amazon-img {
    width: 48px;
    height: 15px;
  }
}

.apple-books-img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  width: 16px;
  height: 16px;
}
.apple-books-img:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
@media screen and (min-width: 768px) {
  .apple-books-img {
    width: 28px;
    height: 27px;
  }
}

.hidden {
  display: none;
}

.page-notification {
  text-align: center;
  font-family: DMSans-Regular;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.36px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .page-notification {
    margin-bottom: 20px;
  }
}
