/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./header.css');
@import url('./mobile-menu.css');

@import url('./category-list-sec.css');
@import url('./support-ukraine-sec.css');

@import url('./top-books-sec.css');
@import url('./selected-category-sec.css');
@import url('./shopping-list-sec.css');

@import url('./auth-popup.css');
@import url('./book-popup.css');
@import url('./btn-scroll-up.css');
@import url('./loader.css');

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
