.main-support-box {
  padding: 24px 40px;
  border-radius: 16px;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.main-support-title-box {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}

.main-support-title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 109.091%;
  letter-spacing: -0.88px;
}

.main-support-title-icon {
  width: 20px;
  height: 32px;
  fill: #fff;
}

.main-support-items-box {
  height: 188px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.main-support-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-support-item-link {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 100%;
}

.main-support-item-link-number {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.56px;
}

.main-support-item-link-img-box {
  width: 100%;
}

.main-support-item-link-img {
  height: 32px;
  filter: brightness(0) invert(1);
  object-fit: contain;
}

.main-support-scroll {
  padding: 6px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.main-support-scroll-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .main-support-title {
    font-size: 24px;
    line-height: 116.667%;
    letter-spacing: -0.96px;
  }

  .main-support-items-box {
    height: 292px;
  }

  .main-support-scroll {
    padding: 8px;
  }

  .main-support-scroll-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1440px) {}