/* :root {
  --col-lt-gray: #b4afaf;

  --col-bg-light: #f6f6f6;
  --col-bg-dark: #202024;
  
  --col-white: #ffffff;
  --col-black: #111111;

  --col-blue: #4f2ee8;
  --col-yellow: #eac645;

  --grad-toggle-light: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --grad-toggle-dark: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
} */

body.darkmode {
  background-color: var(--col-bg-dark);
  color: var(--col-white);
}

/* -------------- TOGGLE THEME BUTTON -------------- */

body.darkmode .tgl-btn {
  background-image: var(--grad-toggle-dark);
}

body.darkmode .tgl-btn__icon {
  color: var(--col-blue);
}

/* -------------- HEADER -------------- */

body.darkmode .header-section {
  border-color: var(--col-white);
  background: var(--col-black);
}

body.darkmode .header-container {
}

body.darkmode .burger:hover,
body.darkmode .burger:focus {
  stroke: var(--col-blue);
}
body.darkmode .close-burger:hover,
body.darkmode .close-burger:focus {
  stroke: var(--col-blue);
}

body.darkmode .nav-container {
}

body.darkmode .nav-mobile-menu {
  background-color: var(--col-black);
}

body.darkmode .nav-item {
  color: var(--col-white);
}

body.darkmode .nav-item:hover,
body.darkmode .nav-item:focus {
  color: var(--col-yellow);
}
body.darkmode .active-page:hover,
body.darkmode .active-page:focus {
  color: var(--col-blue);
}
body.darkmode .active-page {
  color: var(--col-black);
}

body.darkmode .header-logo-title {
  stroke: var(--col-white);
  fill: var(--col-white);
  background: var(--col-bg-dark);
}

body.darkmode .js-logout {
  background: var(--col-bg-dark);
  border: 1px solid var(--col-white);
}

body.darkmode .menu-username2 {
  color: var(--col-white);
}

body.darkmode .burger {
  stroke: var(--col-white);
}
body.darkmode .close-burger {
  stroke: var(--col-white);
}

/* -------------- CATEGORIES -------------- */

body.darkmode .main-categories-list-item {
  color: var(--col-white);
}

body.darkmode .main-categories-list-item-active {
  color: var(--col-yellow);
}

/* -------------- TOP -------------- */

body.darkmode .top-title-books {
  color: var(--col-white);
}

body.darkmode .top-bookTitle {
  color: #ffffff;
}

body.darkmode .top-bth {
  background-color: transparent;
  color: #ffffff;
}
body.darkmode .top-bth:hover {
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.05),
    0 17px 50px 0 rgba(255, 255, 255, 0.15);
}
body.darkmode .quick-view {
  color: var(--col-white);
}
/* --------------  -------------- */

/* body */

body.darkmode .main-categories-list {
  color: rgba(255, 255, 255, 0.6);
}

body.darkmode .main-categories-list-item:hover,
body.darkmode .main-categories-list-item:focus {
  color: #eac645;
}

body.darkmode .main-categories-box {
  background-color: #202024;
}

body.darkmode .book-title {
  color: #ffffff;
}

body.darkmode .book-author {
  color: #b4afaf;
}

body.darkmode .main-categories-box::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the scroll thumb */
}

body.darkmode .main-categories-box::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.6);
}

/* -------------- shopping list --------------- */
body.darkmode .shopping-book-card {
  background-color: var(--col-black);
}

body.darkmode .amazon-img {
  filter: brightness(0) invert(1);
}

body.darkmode .amazon-img:hover {
  filter: brightness(0) invert(1)
    drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.darkmode .apple-books-img {
  filter: grayscale(100%);
}

body.darkmode .apple-books-img:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.darkmode .pagination-number.active {
  background-color: var(--col-white);
  color: var(--col-black);
}

body.darkmode .pagination-number {
  color: var(--col-white);
  border-color: var(--col-white);
}

body.darkmode .pagination-button.disabled {
  border-color: var(--col-black);
}

body.darkmode .pagination-button.disabled > .arrow-svg {
  fill: var(--col-white);
}

body.darkmode .page-notification {
  color: rgba(255, 255, 255, 0.6);
}

/* selected category sec */
body.darkmode .selected-category-book-title {
  color: var(--col-white);
}

body.darkmode .selected-category-title {
  color: #ffffff;
}

body.darkmode .second-half {
  color: #4f2ee8;
}

/* ------- pop up --------- */
body.darkmode .popup-under-button {
  color: rgba(255, 255, 255, 0.5);
}

body.darkmode .popup-icon {
  stroke: var(--col-white);
}

body.darkmode .popup-icon:hover,
body.darkmode .popup-icon:focus {
  stroke: var(--col-blue);
}

body.darkmode .popup-modal {
  border: 2px solid var(--col-white);
  background: var(--col-bg-dark);
}

body.darkmode .popup-title {
  color: var(--col-white);
}

body.darkmode .popup-descr {
  color: var(--col-white);
}

body.darkmode .popup-store-icon.popup-store-icon-amazon {
  filter: brightness(0) invert(1);
}

body.darkmode .popup-store-icon.popup-store-icon-apple {
  filter: grayscale(100%);
}

body.darkmode .popup-store-icon.popup-store-icon-apple:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.darkmode .popup-store-icon.popup-store-icon-amazon:hover {
  filter: brightness(0) invert(1)
    drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

body.darkmode .popup-button {
  color: var(--col-white);
}

body.darkmode .popup-close-button:hover .popup-icon,
body.darkmode .popup-close-button:focus .popup-icon {
  stroke: var(--col-yellow);
}

body.darkmode .popup-button:hover,
body.darkmode .popup-button:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.05),
    0 17px 50px 0 rgba(255, 255, 255, 0.15);
}

/* -------modal-------- */
/* auth-popup */
body.darkmode .auth-container {
  background: #202024;
  border: 2px solid #f6f6f6;
}

body.darkmode .auth-input {
  background-color: transparent;
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
}

body.darkmode .auth-input-icon {
  stroke: #f6f6f6;
  fill: transparent;
}

body.darkmode .auth-close-icon {
  fill: #f6f6f6;
  stroke: #f6f6f6;
}

body.darkmode .auth-sign {
  background: #f6f6f6;
  color: #202024;
}

body.darkmode .auth-toggler {
  background-color: transparent;
  color: rgba(246, 246, 246, 0.5);
}

body.darkmode .auth-toggler-active {
  color: var(--col-blue);
  text-decoration-line: underline;
}

body.darkmode .locked-pass-icon,
body.darkmode .opened-pass-icon {
  stroke: #f6f6f6;
}

body.darkmode .locked-pass-icon:hover,
body.darkmode .locked-pass-icon:focus,
body.darkmode .opened-pass-icon:hover,
body.darkmode .opened-pass-icon:focus {
  stroke: var(--col-blue);
}

body.darkmode .auth-close-icon:hover,
body.darkmode .auth-close-icon:focus {
  stroke: var(--col-blue);
}

/*============================|LOADER|===========================*/

body.darkmode .loader-overlay {
  background: #202024;
}

body.darkmode .book-loader {
  --color: #eac645;
}
