body.darkmode {
    background-color: #202024;
}

/* Header */

body.darkmode .btn {
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.3),
        inset 4px 0 8px rgba(0, 0, 0, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.3);
}

body.darkmode .btn__indicator {
    background-color: #202024;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

body.darkmode .btn__icon {
    color: #fff;
}

body.darkmode .nav-shoppinglist-icon {
    fill: #FFFFFF;
}

body.darkmode header {
    background-color: #111111;
    border: 1.5px solid #FFFFFF;
}

/* .darkmode .shopping-list {
    color: #F3F3F3
} */

/* body */


body.darkmode .main-categories-list {
    color: rgba(255, 255, 255, 0.6);
}

body.darkmode .main-categories-list-item:hover,
body.darkmode .main-categories-list-item:focus {

    color: #EAC645;
}

body.darkmode .selected-category-title {
    color: #FFFFFF;
}

body.darkmode .second-half {
    color: #4F2EE8;
}

body.darkmode .book-title {
    color: #FFFFFF;
}

body.darkmode .book-author {
    color: #B4AFAF;
}

body.darkmode .main-categories-box::-webkit-scrollbar-track {
    background-color: transparent;
    /* color of the scroll thumb */
}

body.darkmode .main-categories-box::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, 0.6);
}

/* -------modal-------- */
/* auth-popup */
body.darkmode .auth-container {
    background: #202024;
    border: 2px solid #f6f6f6;
}

body.darkmode .auth-input {
    background-color: transparent;
    border: 2px solid #F6F6F6;
    color: #F6F6F6;
}

body.darkmode .auth-input-icon {
    stroke: #F6F6F6;
    fill: transparent;
}

body.darkmode .auth-close-icon {
    fill: #F6F6F6;
    stroke: #F6F6F6;
}


body.darkmode .auth-sign {
    background: #F6F6F6;
    color: #202024;
}

body.darkmode .auth-toggler {
    background-color: transparent;
    color: rgba(246, 246, 246, 0.5);
}