/* :root {
  --col-lt-gray: #b4afaf;

  --col-bg-light: #f6f6f6;
  --col-bg-dark: #202024;
  
  --col-white: #ffffff;
  --col-black: #111111;

  --col-blue: #4f2ee8;
  --col-yellow: #eac645;

  --grad-toggle-light: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --grad-toggle-dark: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
} */

body {
  background-color: var(--col-bg-light);
  color: var(--col-black);
}

/* -------------- TOGGLE THEME BUTTON -------------- */

.tgl-btn {
  background-image: var(--grad-toggle-light);
}

.tgl-btn__indicator {
  background-color: var(--col-bg-light);
}

.tgl-btn__icon {
  color: var(--col-yellow);
}

/* -------------- HEADER -------------- */

.nav-container {
  border: 1.5px solid var(--col-black);
  background: var(--col-white);
}

.nav-mobile-menu {
  background-color: var(--col-white);
}

.burger {
  stroke: var(--col-black);
}

/* -------------- CATEGORIES -------------- */

.main-categories-list-item {
  color: var(--col-gray-60);
}

.main-categories-list-item-active {
  color: var(--col-blue);
}

/* -------------- TOP -------------- */

.top-title-boks {
  color: var(--col-black);
}

/* --------------  -------------- */

.nav-shoppinglist-icon {
  fill: currentColor;
}

/* .shopping-list {
    color: #111111;
} */

/* body */

body {
  background-color: #f6f6f6;
}

.main-categories-list-item:hover,
.main-categories-list-item:focus {
  color: #4f2ee8;
}

.book-title {
  color: #111111;
}

.book-author {
  color: #b4afaf;
}
