body {
  background-color: var(--col-bg-light);
  color: var(--col-black);
}

/* -------------- TOGGLE THEME BUTTON -------------- */

.tgl-btn {
  background-image: var(--grad-toggle-light);
}

.tgl-btn__indicator {
  background-color: var(--col-bg-light);
}

.tgl-btn__icon {
  color: var(--col-yellow);
}

/* -------------- HEADER -------------- */

.header-section {
  border: 1.5px solid var(--col-black);
  background-color: var(--col-white);
}

.header-logo-title {
  background: var(--col-white);
}

.burger {
  stroke: var(--col-black);
}
.close-burger {
  stroke: var(--col-black);
}

/* -------------- CATEGORIES -------------- */

.main-categories-list-item {
  color: var(--col-gray-60);
}

.main-categories-list-item-active {
  color: var(--col-blue);
}

/* -------------- TOP -------------- */

.top-bth {
  background-color: transparent;
  color: #111111;
}

/* --------------  -------------- */

.nav-shoppinglist-icon {
  fill: currentColor;
}

/* body */

body {
  background-color: #f6f6f6;
}

.main-categories-list-item:hover,
.main-categories-list-item:focus {
  color: #4f2ee8;
}

.book-title {
  color: #111111;
}

.book-author {
  color: #b4afaf;
}

/* ------------ shopping list ----------- */
/* light theme colors */
.shopping-book-card {
  background-color: var(--col-white);
  border: 2px solid rgba(79, 46, 232, 0.4);
}

.amazon-img {
  filter: grayscale(100%);
}

.amazon-img:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.apple-books-img {
  filter: grayscale(100%);
}

.apple-books-img:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.pagination-number.active {
  background-color: var(--col-black);
  color: var(--col-white);
}

.pagination-number,
.pagination-button {
  border-color: var(--col-black);
}

.pagination-button.disabled {
  background-color: var(--col-black);
}

.pagination-button.disabled > .arrow-svg {
  fill: var(--col-lt-gray);
}

.pagination-button:not(.disabled) {
  background-color: var(--col-yellow);
}

.arrow-svg {
  fill: var(--col-black);
}

.shopping-book-category {
  color: var(--col-lt-gray);
}

.shopping-book-author {
  color: var(--col-lt-gray);
}

.page-notification {
  color: rgba(0, 0, 0, 0.6);
}

/* ------------ selected-category-sec ------------ */
.selected-category-title {
  color: #111;
}

.selected-category-book-title {
  color: #111;
}

.second-half {
  color: #4f2ee8;
}

.selected-category-book-author {
  color: #b4afaf;
}

.selected-category-img {
  background-color: var(--col-bg-light);
}

/* ------- pop up --------- */
.popup-button {
  border: 2px solid var(--col-blue);
  background-color: transparent;
  color: var(--col-black);
}

.popup-descr {
  color: var(--col-black);
}

.popup-icon {
  stroke: var(--col-black);
}

.popup-icon:hover,
.popup-icon:focus {
  stroke: var(--col-blue);
}

.popup-under-button {
  color: rgba(17, 17, 17, 0.5);
}

.popup-modal {
  border: 2px solid var(--col-black);
  background: var(--col-white);
}

.popup-title {
  color: var(--col-black);
}

.popup-author {
  color: var(--col-lt-gray);
}

.popup-descr {
  color: var(--col-black);
}

.popup-store-icon {
  filter: grayscale(100%);
}

.popup-store-icon:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.popup-button {
  border: 2px solid var(--col-blue);
  background-color: transparent;
  color: var(--col-black);
}

.popup-close-button {
  background-color: transparent;
}

.popup-close-button:hover .popup-icon,
.popup-close-button:focus .popup-icon {
  stroke: var(--col-blue);
}

.popup-button:hover,
.popup-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
